* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables for color, sizing
$background-color: #eeeeee;
//$card-color:
//$card-font-color
//$accent-color: #ff5353;

html {
  background-color: $background-color;
}
