@import "./_variables.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  background-color: $background-color;
}

/* Start Header Styling */

header > img {
  margin-top: -3em;
  margin-bottom: -5em;
}

/* End Header Styling */
/* Start Card Styling */
.card-container {
  margin: 0 auto;
  width: 100%;
}

.card-wrapper {
  list-style: none;
  margin: 0 auto;
  padding: 1em 0 0;
  width: 100%;
}

.card {
  padding: 1em;
  border-radius: 10px;
  background: $card-color;
  border-bottom: 10px solid #ff5353;
  // img {
  //   display: bock;
  //   width: 50%;
  //   margin: 0 auto;
  //   padding: 1em;
  // }
}

.btn {
  clear: both;
  width: 25%;
  margin: 0 auto;
  padding: 1em;
}

.btn-load-more {
  outline:none;
  height: 2em;
  text-align: center;
  width: 7em;
  border-radius: 20px;
  background: $background-color;
  border: 3px solid $coral;
  color: $coral;
  line-height: 2.3;
  font: {
    family: $fun-font;
    size: 4em;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:$background-color;
    background: $coral;
  }
}

@media screen and (min-width: 20em) {
  /* i.e. 320px */

  .card-wrapper {
    max-width: 20em;
  }

}

@media screen and (min-width: 30em) {
  /* i.e. 480px */

  .card-wrapper {
    max-width: 25em;
  }

}

@media screen and (min-width: 42em) {
  /* i.e. 672px */

  .card-container {
    max-width: 42em;
  }

  /* becomes 2 columns for the first time here */
  .card-wrapper {
    float: left;
    margin: 0 .5em;
    width: 20em;
  }

  .card-wrapper article {
    min-height: 15em;
  }

}

@media screen and (min-width: 52em) {
  /* i.e. 832px */

  .card-container {
    max-width: 52em;
  }

  .card-wrapper {
    width: 25em;
  }

}

@media screen and (min-width: 64em) {
  /* i.e. 1024px */

  .card-container {
    max-width: 63em;
  }

  /* Becomes 3 columns for the first time here. */
  .card-wrapper {
    width: 20em;
  }

}

@media screen and (min-width: 80em) {
  /* i.e. 1280px */

  .card-container {
    max-width: 66em;
  }

  .card-wrapper {
    margin: .5em 1em;
  }

}

@media screen and (min-width: 90em) {
  /* i.e. 1440px */

  .card-container {
    max-width: 81em;
  }

  .card-wrapper {
    width: 25em;
  }

}

/* End Card Styling */
